<md-toolbar color="primary">
My App
</md-toolbar>
<div style="padding-top: 80px;">
in request,
disable button,
display loading image.
</div>
<button md-raised-button disabled="{{inSearch}}" (click)="search()"><i class="material-icons">search</i>Search</button>
<md-spinner *ngIf="inSearch"></md-spinner>
<md-progress-bar *ngIf="inSearch" mode="indeterminate"></md-progress-bar>

aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>

aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>
aaa<br/>