/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: #fafafa;
  margin: 0;
}

md-toolbar-row.mat-toolbar-row {
  height: 55px;
}

div.mat-list-item-content {
  padding-left: 0px;
}

